[bastion]
%{ if enable_bastion ~}
bastion ansible_host=${bastion_public_ip}
%{ endif ~}

[kubernetes]
%{ for index, ip in kubernetes_node_ips ~}
k8s-${index + 1} ansible_host=${ip}
%{ endfor ~}

[database]
database ansible_host=${database_private_ip}

[all:vars]
ansible_user=${ansible_user}
ansible_ssh_private_key_file=${ansible_private_key_file}

[kubernetes:vars]
%{ if enable_bastion ~}
ansible_ssh_common_args='-o ProxyJump=${ansible_user}@${bastion_public_ip}'
%{ endif ~}

[database:vars]
%{ if enable_bastion ~}
ansible_ssh_common_args='-o ProxyJump=${ansible_user}@${bastion_public_ip}'
%{ endif ~}
