[defaults]
inventory = inventory/dev.ini
remote_user = ubuntu
private_key_file = ~/.ssh/id_rsa
host_key_checking = False
interpreter_python = auto_silent
retry_files_enabled = False
stdout_callback = default
bin_ansible_callbacks = True

[ssh_connection]
pipelining = True
